.footer {
    margin-top: 10px;
    background-color: var(--nord1);
    color: var(--nord5);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-header {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-link {
    color: var(--nord6);
    display: block;
}

.icon-wrapper {
    margin-left: 0rem;
}

.icon {
    margin-top: 10px;
    height: max(20px, 6vh); 
    width: auto;
}